# Environment files
.env
.env.*
!.env.example

# Node modules
node_modules/

# Ignore uploaded images
src/uploads/

# Logs
logs/
*.log

# IDE files
.DS_Store
.idea/
.vscode/

# Coverage
coverage/

# Other
*.swp
*.swo